version: "3"
services:
  swag:
    image: lscr.io/linuxserver/swag:latest
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ= #required
      - URL=example.com #required
      - VALIDATION=dns
      - SUBDOMAINS=wildcard
      - DNSPLUGIN= #required if using dns validation
      - PROPAGATION=60
      - EMAIL= #optional
      - ONLY_SUBDOMAINS=false
      - STAGING=false
      - DISABLE_F2B=
      - SWAG_AUTORELOAD=true
      - SWAG_AUTORELOAD_WATCHLIST=
    volumes:
      - ./swag/config:/config:Z
    ports:
      - 443:443
      - 80:80 #optional
    restart: unless-stopped
    networks:
      - proxy_network
  hashtopolis-backend:
    container_name: hashtopolis-backend
    pull_policy: never
    image: hashtopolis/backend:latest
    platform: linux/arm64
    restart: always
    volumes:
      - hashtopolis:/usr/local/share/hashtopolis:Z
    environment:
      HASHTOPOLIS_DB_USER: ${MYSQL_USER}
      HASHTOPOLIS_DB_PASS: ${MYSQL_PASSWORD}
      HASHTOPOLIS_DB_HOST: hashtopolis-db
      HASHTOPOLIS_DB_DATABASE: ${MYSQL_DATABASE}
      HASHTOPOLIS_ADMIN_USER: ${HASHTOPOLIS_ADMIN_USER}
      HASHTOPOLIS_ADMIN_PASSWORD: ${HASHTOPOLIS_ADMIN_PASSWORD}
      HASHTOPOLIS_APIV2_ENABLE: ${HASHTOPOLIS_APIV2_ENABLE}
    ports:
      - 8080:80
    depends_on:
      - hashtopolis-db
    networks:
      - proxy_network
  hashtopolis-db:
    container_name: hashtopolis-db
    image: mysql:8.0
    platform: linux/arm64
    restart: always
    volumes:
      - hashtopolis_db:/var/lib/mysql:Z
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASS}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    command:
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    networks:
      - proxy_network
  hashtopolis-frontend:
    container_name: hashtopolis-frontend
    pull_policy: never
    image: hashtopolis/frontend:latest
    platform: linux/arm64
    environment:
      HASHTOPOLIS_BACKEND_URL: ${HASHTOPOLIS_BACKEND_URL}
    restart: always
    ports:
      - 4200:80
    depends_on:
      - hashtopolis-backend
    networks:
      - proxy_network

volumes:
  hashtopolis_db:
  hashtopolis:

networks:
  proxy_network:
    name: proxy_network
    driver: bridge
