MYSQL_ROOT_PASS=PlEaSe_ChANge_Me
MYSQL_DATABASE=hashtopolis
MYSQL_USER=hashtopolis
MYSQL_PASSWORD=PlEaSe_ChANge_Me

HASHTOPOLIS_ADMIN_USER=admin
HASHTOPOLIS_ADMIN_PASSWORD=PlEaSe_ChANge_Me
HASHTOPOLIS_DB_HOST=db

HASHTOPOLIS_APIV2_ENABLE=1
HASHTOPOLIS_BACKEND_URL=http://localhost:8080/api/v2
